#billing_country_field{
  display: none;
}

.wpmc-footer-right.wpmc-nav-buttons.cus-full{
  width: 100% !important;
  text-align: center;
  float: none;
}

.wpmc-footer-right.wpmc-nav-buttons.cus-full #wpmc-prev{
  font-size: 15px;
  line-height: 1.6;
  padding: 16px 20px;
  width: 100%;
  margin-top: 1em;
}

.wpmc-footer-right.wpmc-nav-buttons.cus-full #wpmc-next {
  font-size: 15px;
  line-height: 1.6;
  padding: 16px 20px;
  width: 100%;
  margin-top: 1em;  
}
